[paths]
source =
    src/

[run]
include =
    src/
omit =
    .tox
    setup.py
    src/mediapills/core/controllers.py
    src/mediapills/core/domain/usecases.py
    src/mediapills/core/domain/outputs.py
    src/mediapills/core/requests.py
    src/mediapills/core/responses.py

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError
